<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3 d-none d-md-block">
      <div class="row">
        <div class=" col-4 col-lg-12 squabl">
          <div class="right-margin-fade">
            <div class="row squar" style="height: 100px">

              <div class="col-10 align-self-center">
                <div>
                  <p>KROK1</p>
                  <h6>KOSZYK</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 col-lg-12 squabl">
          <div class="right-margin-fade">
            <div class="row squar" style="height: 100px">

              <div class="col-10 align-self-center">
                <div>
                  <p>KROK2</p>
                  <h6>DOSTAWA</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 col-lg-12 squa">
          <div class="right-margin">
            <div class="row squar" style="height: 100px">

              <div class="col-md-10 align-self-center">
                <div>
                  <p>KROK3</p>
                  <h6>PODSUMOWANIE</h6>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-12 col-lg-9" style="margin-top: 30px">
      <div class="row">
        <div class="col-12">

          <h1 style="text-align: center">Podsumowanie</h1>
          <p></p>
          <br>


          <p>Ilość produktow {{order?.shopCart?.itemShopCartList?.length}}</p>

          <ng-container *ngFor="let item of order?.shopCart?.itemShopCartList">
            <div class="col-sm-6 col-lg-12">
              <div class="prod">

                <div class="row">


                  <div class="col-lg-2 " routerLink="/product/{{item.product.id}}"
                       style="margin-bottom: 5px; margin-top: 0px; padding-top: 0px;">
                    <div class="photo">
                      <div class="zdjecie"><img src="{{item.product?.photoUrl[0]?.url}}">miniatura
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 align-self-center" routerLink="/product/{{item.product.id}}">
                    <h4>{{item.product.name}}</h4>
                  </div>
                  <div class="col-lg-2 align-self-center">
                      <span
                        style="color: green; font-weight: bold;font-size: large">{{item.product.price|currency:"PLN"}}
                    </span>
                  </div>
                  <div class="col-lg-2 align-self-center">

                    <h6>X {{item.quantity}}</h6>
                  </div>
                  <div class="col-lg-3 align-self-center">
                    <h6>Razem</h6>
                    <span
                      style="color: green; font-weight: bold;font-size: large">{{item.product.price * item.quantity|currency:"PLN"}}
                    </span>
                  </div>

                </div>
              </div>
            </div>
          </ng-container>


        </div>

        <div class="col-9" style="text-align: right">
          <h6 style="font-weight: bolder"><i class="fas fa-shopping-cart"></i> Kwota zamówienia:</h6>
          <h6 style="font-weight: normal"><i class="fas fa-truck-loading"></i> Koszt wysyłki</h6>
          <h3>Razem</h3>


        </div>
        <div class="col-3" style="text-align: right; ">
          <div style="margin-right: 15px">
            <h6 style="font-weight: bolder">{{sumeCart()|currency:"PLN"}}</h6>
            <h6 style="font-weight: normal">{{delivery()|currency:"PLN"}}</h6>
            <h3>{{sumeCart() + delivery()|currency:"PLN"}}</h3>
          </div>
        </div>


        <div class="col-12" style="text-align: right; margin-top: 10px; padding-right: 13px; margin-bottom: 10px">
          <button (click)="finalise()" class="btn btn-success" type="button">Potwierdz</button>
        </div>


      </div>

    </div>

  </div>
</div>
