<div class="container">
 <div class="row">

   <div class="col-lg-10 offset-lg-1">
     <h1 style="text-align: center">Nasze produkty</h1>
     <div class="row">
       <div class="col-md-4">
         <div class=" cat c" routerLink='/category/1'>
         <h3>Gry planszowe</h3>
         <div class="photo">
          <span class="center"><img src="/assets/images/grypl.jpg" alt="Gry planszowe"/></span>
         </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class=" cat c" routerLink='/category/2'>
         <h3>Klocki</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/klocki.jpg" alt="Klocki"/></span>
         </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class=" cat c" routerLink='/category/3'>
         <h3>Zabawki edukacyjne</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/edukacyjne.jpg" alt="Zabawki edukacyjne"/></span>
         </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class=" cat c" routerLink='/category/4'>
         <h3>Maskotki i figurki</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/maskotki.jpg" alt="Maskotki"/></span>
         </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class=" cat c" routerLink='/category/5'>
         <h3>Lalki i akcesoria</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/lalki.jpg" alt="Lalki i akcesoria"/></span>
         </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class=" cat c" routerLink='/category/6'>
         <h3>Samochody i pojazdy</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/samochody.jpg" alt="Samochody i pojazdy"/></span>
         </div>
         </div>
       </div>
     </div>
   </div>


 </div>


</div>
