<div class="container">
 <div class="row">
   <div class="col-md-2">

   </div>
   <div class="col-lg-7">
     <h1 style="text-align: center">Nasze produkty</h1>
     <div class="row">
       <div class="col-md-6">
         <div class=" cat c">
         <h3>Gry planszowe</h3>
         <div class="photo">
          <span class="center"><img src="/assets/images/grypl.jpg" alt="Gry planszowe" routerLink='category' /></span>
         </div>
         </div>
       </div>
       <div class="col-md-6">
         <div class=" cat c">
         <h3>Klocki</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/klocki.jpg" alt="Klocki" routerLink='category' /></span>
         </div>
         </div>
       </div>
       <div class="col-md-6">
         <div class=" cat c">
         <h3>Zabawki edukacyjne</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/edukacyjne.jpg" alt="Zabawki edukacyjne" routerLink='category' /></span>
         </div>
         </div>
       </div>
       <div class="col-md-6">
         <div class=" cat c">
         <h3>Maskotki i figurki</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/maskotki.jpg" alt="Maskotki" routerLink='category' /></span>
         </div>
         </div>
       </div>
       <div class="col-md-6">
         <div class=" cat c">
         <h3>Lalki i akcesoria</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/lalki.jpg" alt="Lalki i akcesoria" routerLink='category' /></span>
         </div>
         </div>
       </div>
       <div class="col-md-6">
         <div class=" cat c">
         <h3>Samochody i pojazdy</h3>
         <div class="photo">
         <span class="center"><img src="/assets/images/samochody.jpg" alt="Samochody i pojazdy" routerLink='category' /></span>
         </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-3">
     <div style="margin-top: 80px">
     <div class="slid">
       Ostatnio dodane
     </div>
     <div class="slid">
       Najpopularniejsze
     </div>
       <div class="slid">
         <p style="text-align: center">Szukaj</p>
         <form method="post" action="#" id="search_form" style="display: block; margin-top: 10px">
           <p>
             <input class="search" type="text" name="search_field" value="" />
             <input name="search" type="image" style="border:0;margin: 0 0 -9px 5px; " src="assets/images/search.png" alt="Search" title="Search" />
           </p>
         </form>
       </div>
     </div>
   </div>

 </div>


</div>
