<div id="sidebar_container">
  <h1>Zaloguj się</h1>
  <p>Podaj swoją nazwę użytkownika i hasło:</p>
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" ngForm>
    <div class="form_settings">
      <p><span>Nazwa użytkownika:</span><input class="contact" type="text" id="loginInput"  name="username" ngModel value="" /></p>
      <p><span>Hasło:</span><input class="contact" type="password" value="" id="passwordInput" name="password" ngModel/></p>

      <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="Potwierdź" /></p>
    </div>
    <li><a href="#">Nie pamiętasz hasła?</a></li>

    <li><a href="#">Nie masz jeszcze konta?</a></li>

  </form>
  <div *ngIf="status.length>0" class="alert alert-danger">{{status}}</div>

</div>







