<nav class="navbar navbar-expand-lg navbar-light bg-custom">
  <a class="navbar-brand" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/start">Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kategorie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='category/1'>Gry planszowe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink='category/2'>Klocki</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"routerLink='category/3'>Zabawki edukacyjne</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"routerLink='category/4'>Maskotki i figurki</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"routerLink='category/5'>Lalki i akcesoria</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"routerLink='category/6'>Samochody i pojazdy</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link " routerLink="/contact">Kontakt</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <span *ngIf="isNotLogged()">
        <button  class="btn btn-outline my-2 my-sm-0" type="submit" routerLink="/login"><span><i class="fas fa-user"></i><p class="but">Zaloguj</p></span></button>
      <button class="btn btn-outline my-2 my-sm-0" type="submit" routerLink="/register"><span><i class="fas fa-user-plus"></i><p class="but">Rejestracja</p></span></button>
      </span>
      <span *ngIf="!isNotLogged()">
        <button class="btn btn-outline my-2 my-sm-0" type="submit"  routerLink="/myaccount"><span><i class="fas fa-user"></i><p class="but">Twoje konto</p></span></button>
        <button class="btn btn-outline my-2 my-sm-0" type="submit" routerLink="/cart"><span><i class="fas fa-shopping-basket"><span style="font-size: small;">0</span></i><p class="but">Koszyk</p></span></button>
      <button class="btn btn-outline my-2 my-sm-0" type="submit" (click)="logOut()"><span><i class="fas fa-sign-out-alt"></i><p class="but">Wyloguj</p></span></button>
      </span>
    </form>
  </div>
</nav>
