<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-12 squa">
          <div class="row squar" style="height: 100px">
            <div class="col-xl-2  align-self-center " style="padding-left: 0; ">
              <div class="square2"><span style="font-weight: bold">1</span></div>

            </div>
            <div class="col-10 align-self-center">
              <div>
                <p>KROK1</p>
                <h6>KOSZYK</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 squabl">
          <div class="row squar" style="height: 100px">
            <div class="col-xl-2 align-self-center " style="padding-left: 0; ">
              <div class="square2"><span style="font-weight: bold">2</span></div>

            </div>
            <div class="col-10 align-self-center">
              <div>
                <p>KROK2</p>
                <h6>DOSTAWA</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 squabl">
          <div class="row squar" style="height: 100px">
            <div class="col-xl-2 align-self-center " style="padding-left: 0; ">
              <div class="square2"><span style="font-weight: bold">3</span></div>

            </div>
            <div class="col-md-10 align-self-center">
              <div>
                <p>KROK3</p>
                <h6>PODSUMOWANIE</h6>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">

        <ng-container *ngFor="let product of listproduct">
          <div class="col-12">
            <div class="prod">

              <div class="row">

                <div class="col-sm-2 " style="margin-bottom: 5px; margin-top: 0px; padding-top: 0px">
                  <div class="photo">
                    <div class="zdjecie"><img src="{{product?.photoUrl[0]?.url}}">miniatura
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 align-self-center">
                  <h4>{{product.name}}</h4>
                </div>
                <div class="col-sm-2 align-self-center">
                  <h6>Cena za sztuke</h6>
                  <span style="color: green; font-weight: bold;font-size: large">{{product.price|currency:"PLN"}}
                    </span>
                </div>
                <div class="col-sm-2 align-self-center" >
                  <button class="btn btnico"><i class="fas fa-minus"></i> </button><input value="1" type="number" style="height: 30px;width: 30px">
                  <button class="btn btnico"><i class="fas fa-plus"></i></button>
                </div>
                <div class="col-sm-3 align-self-center" >
                  <h6>Razem cena</h6>
                  <span style="color: green; font-weight: bold;font-size: large">{{product.price|currency:"PLN"}}
                    </span>
                </div>

                <p
                  style="text-align: right;font-size: small; margin-right: 5px; margin-bottom: 0; padding-bottom: 0;display: block;position: absolute;right: 10px ;top:0px">
                  <span>usuń</span>
                  <button class="btn"><i class="fas fa-times"></i></button></p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
</div>
