<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3 d-none d-md-block">
      <div class="row">
        <div class=" col-4 col-lg-12 squa">
          <div class="right-margin">
            <div class="row squar" style="height: 100px">

              <div class="col-10 align-self-center">
                <div>
                  <p>KROK1</p>
                  <h6>KOSZYK</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 col-lg-12 squabl">
          <div class="right-margin-fade">
            <div class="row squar" style="height: 100px">

              <div class="col-10 align-self-center">
                <div>
                  <p>KROK2</p>
                  <h6>DOSTAWA</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 col-lg-12 squabl">
          <div class="right-margin-fade">
            <div class="row squar" style="height: 100px">

              <div class="col-md-10 align-self-center">
                <div>
                  <p>KROK3</p>
                  <h6>PODSUMOWANIE</h6>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="row">

        <ng-container *ngIf="cart?.itemShopCartList?.length>0; else emptyCart">
          <ng-container *ngFor="let item of cart.itemShopCartList">
            <div class="col-sm-6 col-lg-12">
              <div class="prod" (mouseleave)="updateIfNecessary()">

                <div class="row">

                  <div class="col-lg-2 " style="margin-bottom: 5px; margin-top: 0px; padding-top: 0px;">
                    <div class="photo">
                      <div class="zdjecie"><img src="{{item.product?.photoUrl[0]?.url}}">miniatura
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 align-self-center">
                    <h4>{{item.product.name}}</h4>
                  </div>
                  <div class="col-lg-2 align-self-center">
                    <h6>Cena za sztukę</h6>
                    <span style="color: green; font-weight: bold;font-size: large">{{item.product.price|currency:"PLN"}}
                    </span>
                  </div>
                  <div class="col-lg-2 align-self-center">
                    <button class="btn btnico" (click)="minus(item)"><i class="fas fa-minus"></i></button>
                    <input value="{{item.quantity}}" type="number" style="height: 30px;width: 30px">
                    <button class="btn btnico" (click)="plus(item)"><i class="fas fa-plus"></i></button>
                  </div>
                  <div class="col-lg-3 align-self-center">
                    <h6>Razem</h6>
                    <span
                      style="color: green; font-weight: bold;font-size: large">{{item.product.price * item.quantity|currency:"PLN"}}
                    </span>
                  </div>

                  <p
                    style="text-align: right;font-size: small; margin-right: 5px; margin-bottom: 0; padding-bottom: 0;display: block;position: absolute;right: 10px ;top:0px">
                    <span>usuń</span>
                    <button (click)="delete(item)" class="btn"><i class="fas fa-times"></i></button>
                  </p>
                </div>
              </div>
            </div>
          </ng-container>

          <div class="col-12">
            <div class="pod" style="border: 3px solid #dddddd; text-align: right; padding-right: 10px">

              <h5>DO ZAPŁATY <span style="color: green">{{sumCart()|currency:"PLN"}}</span></h5>
            </div>
          </div>
          <div class="col-12" style="text-align: right; margin-top: 10px; padding-right: 13px" >
            <button type="button" class="btn btn-success" routerLink="./delivery">Dalej</button>
          </div>
        </ng-container>
        <ng-template #emptyCart>
          <div class="alert alert-primary" role="alert" style="text-align: center">
            <h2 >Twój koszyk jest pusty wybierz coś dla siebie</h2>
          </div>
        </ng-template>
      </div>

    </div>

  </div>
</div>
