.zdjecie img{
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.photo {
  transition: all 0.5s ease-in-out;
}
.photo:hover {
  -webkit-box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    3px 3px 27px 0px rgba(0, 0, 0, 1);
  box-shadow:         3px 3px 27px 0px rgba(0, 0, 0, 1);
}
.photobig {
  transition: all 0.5s ease-in-out;
}
.photobig:hover {
  -webkit-box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    3px 3px 27px 0px rgba(0, 0, 0, 1);
  box-shadow:         3px 3px 27px 0px rgba(0, 0, 0, 1);
}

.photo img{
  transition: all 0.5s ease-in-out;
}
.photo:hover img{
  transform: scale(1.15);
  -webkit-box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    3px 3px 27px 0px rgba(0, 0, 0, 1);
  box-shadow:         3px 3px 27px 0px rgba(0, 0, 0, 1);
}
.photobig img{
  transition: all 0.5s ease-in-out;
}
.photobig:hover img{
  transform: scale(1.15);
  -webkit-box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    3px 3px 27px 0px rgba(0, 0, 0, 1);
  box-shadow:         3px 3px 27px 0px rgba(0, 0, 0, 1);
}
.zdjecie{
  border: 3px solid #dddddd;
  position:relative;
  overflow:hidden;
  padding-bottom:90%;
}

.photo{

  padding-top: 10px;
}
.photobig{
  padding-top: 10px;
}
.zdjeciebig img{
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.zdjeciebig{
  border: 3px solid #dddddd;
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}


.dostawa{
  margin-top: 10px;
  border: 1px dashed #dddddd;
  text-align: center;
  font-weight: bold;
  font-size: small;
}


.cont{
  padding-top: 20px;
}
