.product{
  border: 1px solid #dddddd;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}
.product:hover{
  -webkit-box-shadow: 3px 3px 27px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    3px 3px 27px 0px rgba(0, 0, 0, 1);
  box-shadow:         3px 3px 27px 0px rgba(0, 0, 0, 1);
}


.zdjecie img{
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.zdjecie{
  border: 3px solid #dddddd;
  position:relative;
  overflow:hidden;
  padding-bottom:90%;

}
.product img{
  transition: all 0.5s ease-in-out;
}
.product:hover img{
  transform: scale(1.15);

}

.filtry button{

  font-size: medium;
}

.btn-custom{
  background: #ecc34a
}

.divider{
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  padding-top: 10px;
}

.divider input{
  background: #eeeeee;
  margin-bottom: 10px;
}
.divider p{
  margin-bottom: 0;
  font-family: "dosis", sans-serif;
}


