
<div class="container" style="padding-top: 20px;padding-bottom: 20px;">
  <h1 style="text-align: center; padding-bottom: 10px">{{titleCategory}}</h1>

  <div class="row">
    <div class="col-sm-3"><div class="filtry">
      <div class="divider">
        <button type="button" class="btn btn-custom btn-lg btn-block" (click)="cleanFilters()">Wyczyść filtry</button>
      </div>
      <div class="divider">
        <br>
        <h5>Cena: {{rangeValues[0] + ' - ' + rangeValues[1]}}</h5>
        <p-slider [(ngModel)]="rangeValues" [min]="0" [max]="500" [range]="true"></p-slider>
      </div>

      <div class="divider">
        <p>Marka:</p>

        <p-multiSelect [options]="listBrand" [(ngModel)]="selectedBrand"
                       optionLabel="name" [virtualScroll]="true" itemSize="30"
                       display="chip" placeholder="Wybierz" ></p-multiSelect>
        <p>Wiek dziecka:</p>

        <p-multiSelect [options]="listAge" [(ngModel)]="selectedAge"
                       optionLabel="name" [virtualScroll]="true" itemSize="30"
                       display="chip" placeholder="Wybierz" ></p-multiSelect>

      </div>


      <div class="divider">
        <button type="button" class="btn btn-custom btn-lg btn-block" (click)="getAllProducts()">Szukaj</button>
      </div>
    </div></div>
    <div class="col-sm-9"><div class="content">
      <div class="row">
        <div class="col-sm-12"><div>
          <div class="row">
            <div class="col-lg-4">
              <h6>Sortuj:</h6><select style="font-family: Verdana; font-style: italic" [(ngModel)]="sortPro" (change)="changeSelect()">
              <option value="price,asc">Cena- od najniższej</option>
              <option value="price,desc">Cena- od najwyższej</option>
              <option value="name,asc">Nazwa- alfabetycznie</option>
            </select>
            </div>
            <div class="col-lg-8">
              <p-paginator [rows]="10" (onPageChange)="paginate($event)" [totalRecords]="totalElements" [rowsPerPageOptions]="[10,20,30]" pageLinkSize="3" ></p-paginator></div></div>
        </div>
        </div>
        <div class="col-sm-12"><div>
          <div class="row">
            <ng-container *ngFor="let product of listProduct">
              <div class="col-md-4 col-lg-4 col-xl-3" ><div class="product" routerLink="/product/{{product.id}}">
                <div class="zdjecie"><img src="{{product.photoUrl[0].url}}"></div><div style="padding: 10px 10px 0"><h6>{{product.name}}</h6>
                <h5><span style="text-decoration: line-through;font-size: medium">{{product.price*1.4|currency:"PLN"}}</span>
                  <span style="color: green; font-size: large"> {{product.price}} ZŁ </span>
                </h5></div>
              </div>
              </div>
            </ng-container>





          </div>

        </div></div>

      </div>
    </div>
    </div>
  </div></div>
