<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3 d-none d-md-block">
      <div class="row">
        <div class=" col-4 col-lg-12 squa">
          <div class="right-margin-fade">
            <div class="row squar" style="height: 100px">

              <div class="col-10 align-self-center">
                <div>
                  <p>KROK1</p>
                  <h6>KOSZYK</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 col-lg-12 squabl">
          <div class="right-margin">
            <div class="row squar" style="height: 100px">

              <div class="col-10 align-self-center">
                <div>
                  <p>KROK2</p>
                  <h6>DOSTAWA</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-4 col-lg-12 squabl">
          <div class="right-margin-fade">
            <div class="row squar" style="height: 100px">

              <div class="col-md-10 align-self-center">
                <div>
                  <p>KROK3</p>
                  <h6>PODSUMOWANIE</h6>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="row">
        <div class="col-12">
          <form [formGroup]="order1" class="date" style="border: 3px solid #dddddd;  padding: 10px">

            <h5 style="text-align: center">ADRES DO WYSYŁKI </h5>
            <div class="row">
              <h5 class="col-3 offset-2 align-items-end">Imię Nazwisko</h5>
              <input [(ngModel)]="order.address.name" class="form-control col-4 " formControlName="name" name="name"
                     placeholder="" type="text"/>
            </div>
            <div class="row">
              <h5 class="col-3 offset-2 align-items-end">Ulica</h5>
              <input [(ngModel)]="order.address.street" class="form-control col-4 " formControlName="street"
                     name="street" placeholder="" type="text"/>
            </div>
            <div class="row">
              <h5 class="col-3 offset-2 align-items-end">Nr domu</h5>
              <input [(ngModel)]="order.address.houseNumber" class="form-control col-4 " formControlName="houseNumber"
                     name="houseNumber" placeholder="" type="text"/>
            </div>
            <div class="row">
              <h5 class="col-3 offset-2 align-items-end">Miasto</h5>
              <input [(ngModel)]="order.address.city" class="form-control col-4 " formControlName="city" name="city"
                     placeholder="" type="text"/>
            </div>
            <div class="row">
              <h5 class="col-3 offset-2 align-items-end">Kod pocztowy</h5>
              <input [(ngModel)]="order.address.postCode" class="form-control col-4 " formControlName="postCode"
                     name="postCode" placeholder="" type="text"/>
            </div>
          </form>
        </div>
        <div class="col-12">
          <div class="date" style="border: 3px solid #dddddd;  padding: 10px;text-align: center">
            <h5 style="text-align: center">METODA WYSYŁKI</h5>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" [(ngModel)]="order.deliveryType" value="KI" checked>
              <label class="form-check-label" for="exampleRadios1">
                Poczta Polska Przedpłata +10zł
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [(ngModel)]="order.deliveryType" value="PP">
              <label class="form-check-label" for="exampleRadios2">
                Poczta Polska Pobranie +20zł
              </label>
            </div>
            <div class="form-check ">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                     [(ngModel)]="order.deliveryType" value="DPU">
              <label class="form-check-label" for="exampleRadios3">
                Kurier Dpd Pobranie +20zł
              </label>
            </div>

          </div>
        </div>

        <div class=" col-6" style="text-align: left; margin-top: 10px; padding-left: 13px; margin-bottom: 10px">
          <button (click)="undo()" class="btn btn-success"><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-6" style="text-align: right; margin-top: 10px; padding-right: 13px">
          <button (click)="next()" *ngIf="(!(p.name.errors || p.street.errors || p.houseNumber.errors || p.city.errors || p.postCode.errors) ||
          (order.address.name != null || order.address.street != null || order.address.houseNumber != null ||
          order.address.city != null || order.address.postCode != null)) && order.deliveryType;
          else disabled" class="btn btn-success" type="button">Dalej
          </button>
          <ng-template #disabled>
            <button type="submit" class="btn btn-success" disabled>Dalej</button>
          </ng-template>
          <div *ngIf="!(!(p.name.errors || p.street.errors || p.houseNumber.errors || p.city.errors || p.postCode.errors) ||
          (order.address.name != null || order.address.street != null || order.address.houseNumber != null ||
          order.address.city != null || order.address.postCode != null)) && order.deliveryType;">Wszystkie pola są
            wymagane
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
