<div class="container">
  <h1 style="text-align: center; margin-top: 10px; margin-bottom: 10px">Twoje Konto</h1>
  <div class="row" style="padding-top: 20px">
    <div class="col-sm-3">
      <button type="button" class="btn btn-custom btn-lg btn-block">Twoje dane <i class="fas fa-user-cog"></i></button>
      <button type="button" class="btn btn-custom2 btn-lg btn-block">Zamówienia <i class="fas fa-shopping-cart"></i></button>
    </div>
    <div class="col-sm-8" style="margin-bottom: 10px">
      <div class="row">
        <div class="col-sm-6">
          <form [formGroup]="changeData" (ngSubmit)="changeUserData(changeData)">
          <div class="yourdate">
            <h6>TWOJE DANE<sup style="color: red;">*</sup></h6>
            <p>adres e-mail:</p>
            <input type="text" formControlName="email" class="form-control" placeholder="{{temp.email}}" [ngClass]="{ 'is-invalid': (d.email.touched || d.email.dirty) && d.email.errors && d.email.errors.email }" />
            <div *ngIf="(d.email.touched || d.email.dirty) && d.email.errors" class="invalid-feedback">
              <div *ngIf="d.email.errors.email">Email jest nieprawidłowy</div>
            </div>
            <p>imię</p>
            <input type="text" formControlName="firstname" class="form-control" placeholder="{{temp.firstname}}"/>
            <p>nazwisko</p>
            <input type="text" formControlName="lastname" class="form-control" placeholder="{{temp.lastname}}"/>
            <p>ulica</p>
            <input type="text" formControlName="street" class="form-control" placeholder="{{temp.street}}"/>
            <p>numer domu</p>
            <input type="text" formControlName="numberHouse" class="form-control" placeholder="{{temp.numberHouse}}"/>
            <p>miasto</p>
            <input type="text" formControlName="city" class="form-control" placeholder="{{temp.city}}"/>
            <p>kod pocztowy</p>
            <input type="text" formControlName="postCode" class="form-control" placeholder="{{temp.postCode}}"/>

            <div class="row">
              <div class="col-12 text-center" style="margin-top: 20px">

                <ng-template #disabled>
                  <button  type="submit" class=" btn btn-custom btn-lg  " disabled>ZAPISZ</button>
                </ng-template>
                <button *ngIf="!(d.email.errors && d.firstname.errors && d.lastname.errors &&
                        d.street.errors && d.numberHouse.errors && d.city.errors && d.postCode.errors); else disabled"
                        type="button" class="btn btn-custom btn-lg" (click)="modal(content)">ZAPISZ</button>
                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Zaktualizuj dane</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <label for="currentPassword">W celu zatweierdzenia zmian wprowadź hasło</label>
                    <div class="input-group">
                      <input ngbAutofocus type="password" formControlName="currentPassword" id="currentPassword" class="form-control" [ngClass]="{ 'is-invalid':
                      ((d.currentPassword.touched || d.currentPassword.dirty) && d.currentPassword.errors)}" />
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button *ngIf="(!d.currentPassword.errors); else disabled" type="submit" class=" btn btn-custom btn-lg  " (click)="changeUserData(changeData)" (click)="modal.close()" >ZAPISZ</button>
                  </div>
                </ng-template>
                <p></p>
              </div>
            </div>
          </div>
          </form>
        </div>
        <div class="col-sm-6">
          <form [formGroup]="changePassword" (ngSubmit)="changeUserPassword(changePassword)">
          <div class="changepassword">
            <h6>ZMIANA HASŁA<sup style="color: red;">*</sup></h6>
            <p>aktualne hasło:</p>
            <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': (p.oldPassword.touched || p.oldPassword.dirty) && p.oldPassword.errors }" />
            <div *ngIf="(p.oldPassword.touched || p.oldPassword.dirty) && p.oldPassword.errors" class="invalid-feedback">
              <div *ngIf="p.newPassword.errors.required">Wpisz stare hasło</div>
            </div>
            <p>nowe hasło</p>
            <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': (p.newPassword.touched || p.newPassword.dirty) && p.newPassword.errors }" />
            <div *ngIf="(p.newPassword.touched || p.newPassword.dirty) && p.newPassword.errors" class="invalid-feedback">
              <div *ngIf="p.newPassword.errors.required">Wpisz nowe hasło</div>
              <div *ngIf="p.newPassword.errors.minlength">Minimalna długość hasła to 8 znaków</div>
              <div *ngIf="p.newPassword.errors.hasNumber">Cyfra</div>
              <div *ngIf="p.newPassword.errors.hasCapitalCase">Duża litera</div>
              <div *ngIf="p.newPassword.errors.hasSmallCase">Mała litera</div>
              <div *ngIf="p.newPassword.errors.hasSpecialCharacters">Znak specjalny</div>
            </div>
            <p>powtórz nowe hasło</p>
            <input type="password" formControlName="passwordRepeat" class="form-control" [ngClass]="{ 'is-invalid': (p.passwordRepeat.touched || p.passwordRepeat.dirty) && (p.passwordRepeat.errors || changePassword.value.newPassword != changePassword.value.passwordRepeat) }" />
            <div *ngIf="p.passwordRepeat.touched && p.passwordRepeat.errors " class="invalid-feedback">
              <div *ngIf="p.passwordRepeat.errors.required">Należy wpisać hasło ponownie</div>
            </div>
            <div *ngIf="(p.passwordRepeat.touched || p.passwordRepeat.dirty) && changePassword.value.newPassword != changePassword.value.passwordRepeat " class="invalid-feedback">
              Wpisane hasła różnią się od siebie
            </div>
            <br>
            <div class="row">
              <div class="col-12 text-center" style="margin-top: 20px">
            <button *ngIf="!(changePassword.value.newPassword != changePassword.value.passwordRepeat ||
             p.newPassword.errors || p.passwordRepeat.errors ); else disabled"
             type="submit" class=" btn btn-custom btn-lg  " >ZAPISZ</button>
             <ng-template #disabled>
               <button  type="submit" class=" btn btn-custom btn-lg  " disabled>ZAPISZ</button>
             </ng-template>
            <p></p>
              </div>

            </div>
          </div>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>
