<div class="container">
  <h1 style="text-align: center; margin-top: 10px; margin-bottom: 10px">Twoje Konto</h1>
  <div class="row" style="padding-top: 20px">
    <div class="col-sm-3">
      <button type="button" class="btn btn-custom btn-lg btn-block">Twoje dane <i class="fas fa-user-cog"></i></button>
      <button type="button" class="btn btn-custom2 btn-lg btn-block">Zamówienia <i class="fas fa-shopping-cart"></i></button>
    </div>
    <div class="col-sm-8" style="margin-bottom: 10px">
      <div class="row">
        <div class="col-sm-6">
          <div class="yourdate">
            <h6>TWOJE DANE<sup style="color: red;">*</sup></h6>
            <p>adres e-mail:</p>
            <input  type="text" >
            <p>imię</p>
            <input type="text">
            <p>nazwisko</p>
            <input type="text">
            <p>ulica</p>
            <input  type="text" >
            <p>numer domu</p>
            <input type="text">
            <p>miasto</p>
            <input  type="text" >
            <p>kod pocztowy</p>
            <input type="text">
            <p>aktualne hasło</p>
            <input type="password">
            <br>
            <div class="row">
              <div class="col-12 text-center" style="margin-top: 20px">
                <button type="submit" class=" btn btn-custom btn-lg  ">ZAPISZ</button>
                <p></p>
              </div>
            </div>
            <div>
              <p style="color: red; font-weight: bold; font-size: small; margin-top: 20px; margin-bottom: 10px"><sup>*</sup> Wszystkie pola są wymagane</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="changepassword">
            <h6>ZMIANA HASŁA<sup style="color: red;">*</sup></h6>
            <p>aktualne hasło:</p>
            <input  type="password"  id="currentPasswordInput"  name="currentPassword"  value="">
            <p>nowe hasło</p>
            <input type="password">
            <p>powtórz nowe hasło</p>
            <input type="password">
            <br>
            <div class="row">
              <div class="col-12 text-center" style="margin-top: 20px">
            <button type="submit" class=" btn btn-custom btn-lg  " >ZAPISZ</button>
            <p></p>
              </div>

            </div>
            <div>
            <p style="color: red; font-weight: bold; font-size: small; margin-top: 20px; margin-bottom: 10px"><sup>*</sup> Wszystkie pola są wymagane</p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
