.btn-custom{
  background: #ecc34a
}
.btn-custom2{
  border-color: #ecc34a;
  background: white;
}
h6{
  margin-bottom: 20px;
}
.yourdate{
  border: 3px solid #dddddd;
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 7px 7px 18px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow:    7px 7px 18px 0px rgba(100, 100, 100, 0.75);
  box-shadow:         7px 7px 18px 0px rgba(100, 100, 100, 0.75);
}

.yourdate p{
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Century Gothic";
  color: #5D5D5D;

}

.changepassword{
  border: 3px solid #dddddd;
  background-color: white;
  padding: 20px 20px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-shadow: 7px 7px 18px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow:    7px 7px 18px 0px rgba(100, 100, 100, 0.75);
  box-shadow:         7px 7px 18px 0px rgba(100, 100, 100, 0.75);
}

.changepassword p{
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Century Gothic";
  color: #5D5D5D;

}


input{
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  border: none;

  border-bottom: 1px solid #5D5D5D;
  background-color: white;
}
input:hover{
  background-color: white;
}
input:focus{
  background-color: white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
