<div class="container" style="margin-top: 1em">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">
    <div class="row"></div>
    <div class="col-md-6 offset-3">
      <div class="zal">
        <h1>Zarejestruj się</h1>
        <h5>Podaj swoje dane:</h5>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Nazwa użytkownika *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': (f.username.touched || f.username.dirty) && f.username.errors }" />
            <div *ngIf="(f.username.touched || f.username.dirty) && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Użytkownik jest wymagany</div>
              <div *ngIf="f.username.errors.minlength">Minimalna długość nazwy użytkownika to 4 znaki</div>
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Hasło *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': (f.password.touched || f.password.dirty) && f.password.errors }" />
            <div *ngIf="(f.password.touched || f.password.dirty) && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Hasło jest wymagane</div>
              <div *ngIf="f.password.errors.minlength">Minimalna długość hasła to 6 znaków</div>
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Powtórz hasło *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="password" formControlName="passwordRepeat" class="form-control" [ngClass]="{ 'is-invalid': (f.passwordRepeat.touched || f.passwordRepeat.dirty) && (f.passwordRepeat.errors || registerForm.value.password != registerForm.value.passwordRepeat) }" />
            <div *ngIf="f.passwordRepeat.touched && f.passwordRepeat.errors " class="invalid-feedback">
              <div *ngIf="f.passwordRepeat.errors.required">Należy wpisać hasło ponownie</div>
            </div>
            <div *ngIf="(f.passwordRepeat.touched || f.passwordRepeat.dirty) && registerForm.value.password != registerForm.value.passwordRepeat " class="invalid-feedback">
              Wpisane hasła różnią się od siebie
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Email *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': (f.email.touched || f.email.dirty) && f.email.errors }" />
            <div *ngIf="(f.email.touched || f.email.dirty) && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email jest wymagany</div>
              <div *ngIf="f.email.errors.email">Email jest nieprawidłowy</div>
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Imię *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': (f.firstName.touched || f.firstName.dirty) && f.firstName.errors }" />
            <div *ngIf="(f.firstName.touched || f.firstName.dirty) && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">Imię jest wymagane</div>
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Nazwisko *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': (f.lastName.touched || f.lastName.dirty) && f.lastName.errors }" />
            <div *ngIf="(f.lastName.touched || f.lastName.dirty) && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Nazwisko jest wymagane</div>
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Ulica *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="text" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': (f.street.touched || f.street.dirty) && f.street.errors }" />
            <div *ngIf="(f.street.touched || f.street.dirty) && f.street.errors" class="invalid-feedback">
              <div *ngIf="f.street.errors.required">Ulica jest wymagana</div>
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Numer domu *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="text" formControlName="houseNumber" class="form-control" [ngClass]="{ 'is-invalid': (f.houseNumber.touched || f.houseNumber.dirty) && f.houseNumber.errors }" />
            <div *ngIf="(f.houseNumber.touched || f.houseNumber.dirty) && f.houseNumber.errors" class="invalid-feedback">
              <div *ngIf="f.houseNumber.errors.required">Numer domu jest wymagany</div>
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Miasto *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="text" formControlName="nameAddress" class="form-control" [ngClass]="{ 'is-invalid': (f.nameAddress.touched || f.nameAddress.dirty) && f.nameAddress.errors }" />
            <div *ngIf="(f.nameAddress.touched || f.nameAddress.dirty) && f.nameAddress.errors" class="invalid-feedback">
              <div *ngIf="f.nameAddress.errors.required">Miasto jest wymagane</div>
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Kod pocztowy *</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input type="text" formControlName="postCode" class="form-control" [ngClass]="{ 'is-invalid': (f.postCode.touched || f.postCode.dirty) && f.postCode.errors }" />
            <div *ngIf="(f.postCode.touched || f.postCode.dirty) && f.postCode.errors" class="invalid-feedback">
              <div *ngIf="f.postCode.errors.required">Kod pocztowy jest wymagany</div>
            </div>
          </div></div>
        </div>

        <div class="row">
          <div class="col-12 "><div>
            <div *ngIf="status.length>0" class="alert alert-danger">{{status}}</div>
            <button *ngIf="!(registerForm.value.password != registerForm.value.passwordRepeat ||
             f.username.errors || f.password.errors || f.passwordRepeat.errors || f.email.errors ||
             f.firstName.errors || f.lastName.errors || f.street.errors || f.houseNumber.errors ||
             f.nameAddress.errors || f.postCode.errors); else disabled" type="submit" class=" float-right btn btn-success btn-lg btn-block pot">
              Zarejestruj</button>
            <ng-template #disabled>
            <button  type="button" class=" float-right btn btn-success btn-lg btn-block pot" disabled>Zarejestruj</button>
            </ng-template>
          </div>
          </div>
        </div>

      </div>
    </div>

  </form>

</div>
<br>









