<div class="container" style="margin-top: 1em">
  <form  >
    <div class="row"></div>
    <div class="col-md-6 offset-3">
      <div class="zal">
        <h1>Zarejstruj się</h1>
        <h5>Podaj swoją dane:</h5>

        <div class="row">
          <div class="col-sm-6"><div>
            <h4>Nazwa użytkownika:</h4>
            <h4>Hasło:</h4>
            <h4>Powtórz hasło:</h4>
            <h4>Email:</h4>
            <h4>Imie</h4>
            <h4>Nazwisko</h4>
            <h4>Ulica:</h4>
            <h4>Numer domu:</h4>
            <h4>Miasto:</h4>
            <h4>Kod pocztowy:</h4>
          </div></div>
          <div class="col-sm-6"><div>
            <input  type="text"  id="loginInput"  name="username" ngModel value="">
            <input type="password" value="" id="passwordInput" name="password" ngModel>
            <input type="password" value="" id="password2Input" name="passwordRepeat" ngModel>
            <input  type="text"  id="loginInput"  name="username" ngModel value="">
            <input  type="text"  id="loginInput"  name="username" ngModel value="">
            <input  type="text"  id="loginInput"  name="username" ngModel value="">
            <input  type="text"  id="loginInput"  name="username" ngModel value="">
            <input  type="text"  id="loginInput"  name="username" ngModel value="">
            <input  type="text"  id="loginInput"  name="username" ngModel value="">
            <input  type="text"  id="loginInput"  name="username" ngModel value="">
          </div></div>

        </div>
        <div class="row">
          <div class="col-12 "><div>

            <button type="submit" class=" float-right btn btn-success btn-lg btn-block pot">Zarejstruj</button>

          </div>
          </div>
        </div>

      </div>

    </div>

  </form>

</div>
<br>









